In [1]:
# Import Libraries

import numpy as np
import pandas as pd
import pandas_ta as ta    # https://github.com/twopirllc/pandas-ta

In [2]:
# Get Weekly Asset Data

dfWeekly = pd.DataFrame()
dfWeekly = dfWeekly.ta.ticker("GC=F", period="max", interval="1wk")
dfWeekly = dfWeekly[(dfWeekly.index > '2006-06-30') & (dfWeekly.index < '2022-11-01')]


# Create Custom Weekly Strategy
#CustomStrategyWeekly = ta.Strategy(
#    name="Weekly Indicators",
#    description="Weekly EMA and ADX Indicators",
#    ta=[
#        {"kind": "ema", "length": 5},
#        {"kind": "ema", "length": 13},
#        {"kind": "adx", "length": 6},
#    ]
#)
# Run "Custom Weekly Strategy"
#dfWeekly.ta.strategy(CustomStrategyWeekly)
#dfWeekly=dfWeekly.dropna()
#algoDataWeekly = dfWeekly[['Close', 'EMA_5', 'EMA_13', 'ADX_6']]

#algoDataWeekly = algoDataWeekly.rename({'EMA_5': 'weeklyEMA5',
#                            'EMA_13': 'weeklyEMA13',
#                            'ADX_6':'weeklyADX'}, axis=1)

In [3]:
# Get Daily Asset Data

dfDaily = pd.DataFrame()
dfDaily = dfDaily.ta.ticker("GC=F", period="max", interval="1d")
dfDaily = dfDaily[(dfDaily.index > '2006-06-30') & (dfDaily.index < '2022-11-01')]


# Create your own Custom Strategy
#CustomStrategyDaily = ta.Strategy(
#    name="Daily Indicators",
#    description="daily Trading Indicators",
#    ta=[
#        {"kind": "ema", "length": 12},
#        {"kind": "ema", "length": 26},
#        {"kind": "eri", "length": 12},
#        {"kind": "bbands", "length": 21},
#        {"kind": "macd", "fast": 12, "slow": 26, "signal": 9},
#        
#    ]
#)
# Run "Custom Daily Strategy"
#dfDaily.ta.strategy(CustomStrategyDaily)
#dfDaily=dfDaily.dropna()
#algoDataDaily = dfDaily[['Close', 'EMA_12', 'EMA_26', 'BULLP_12', 'BEARP_12', 'BBL_21_2.0',
#                         'BBM_21_2.0', 'BBU_21_2.0', 'BBB_21_2.0', 'MACD_12_26_9', 
#                         'MACDh_12_26_9', 'MACDs_12_26_9']]

#algoDataDaily = algoDataDaily.rename({'EMA_12': 'dailyEMA12',
#                            'EMA_26': 'dailyEMA26',
#                            'BULLP_12': 'BullPower',
#                            'BEARP_12': 'BearPower',
#                            'BBL_21_2.0': 'lowerBB',
#                            'BBM_21_2.0': 'middleBB',
#                            'BBU_21_2.0': 'upperBB',
#                            'BBB_21_2.0': '2stdBB',
#                            'MACD_12_26_9': 'MACDline',
#                            'MACDh_12_26_9': 'MACDhistogram',
#                            'MACDs_12_26_9':'MACDsignal'}, axis=1)

In [ ]:
# Concatenta weekly and daily indicators and clean dataset

algoData = pd.concat([algoDataDaily, algoDataWeekly], axis=1)
algoData = algoData.ffill(axis=0)
algoData = algoData.dropna()

# Save file
fileName = 'algoData_'+'Gold'+'.csv'
algoData.to_csv(fileName)

In [ ]:
algoDataDaily.to_csv('daily.csv')

In [ ]:
algoDataWeekly.to_csv('weekly.csv')

In [ ]:
algoData.to_csv('algo.csv')

In [ ]:
dfWeekly

In [4]:
dfDaily.to_csv('dfdaily.csv')

In [5]:
dfWeekly.to_csv('dfweekly.csv')

In [ ]:
dfWeekly1 = pd.DataFrame()
dfWeekly1 = dfWeekly1.ta.ticker("GC=F", period="max", interval="1wk")
dfWeekly1 = dfWeekly1[(dfWeekly1.index > '2006-06-30') & (dfWeekly1.index < '2022-11-01')]

In [ ]:
dfDaily1 = pd.DataFrame()
dfDaily1 = dfDaily1.ta.ticker("GC=F", period="max", interval="1d")
dfDaily1 = dfDaily1[(dfDaily1.index > '2006-06-30') & (dfDaily1.index < '2022-11-01')]

In [ ]:
allData = pd.concat([dfDaily, dfWeekly], axis=1)

In [ ]:
allData.to_csv('alldata.csv')

In [9]:
dfDaily['Date'] = dfDaily.index

AttributeError: 'DatetimeIndex' object has no attribute 'dayofweekday'

In [11]:
dayofweek = dfDaily.index.dayofweek

In [21]:
t = dfDaily[(dfDaily.index.dayofweek == 0)]

In [22]:
t

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,,,
2006-07-10 00:00:00-04:00,632.799988,632.799988,632.799988,624.099976,6,0,0,2006-07-10 00:00:00-04:00
2006-07-17 00:00:00-04:00,675.099976,677.000000,675.099976,650.599976,40,0,0,2006-07-17 00:00:00-04:00
2006-07-24 00:00:00-04:00,619.599976,619.599976,619.599976,612.700012,600,0,0,2006-07-24 00:00:00-04:00
2006-07-31 00:00:00-04:00,634.500000,646.500000,627.000000,634.200012,3183,0,0,2006-07-31 00:00:00-04:00
2006-08-07 00:00:00-04:00,651.200012,652.000000,646.500000,647.799988,139,0,0,2006-08-07 00:00:00-04:00
...,...,...,...,...,...,...,...,...
2022-10-03 00:00:00-04:00,1667.199951,1700.000000,1661.900024,1692.900024,410,0,0,2022-10-03 00:00:00-04:00
2022-10-10 00:00:00-04:00,1693.400024,1693.400024,1667.000000,1667.300049,195,0,0,2022-10-10 00:00:00-04:00
2022-10-17 00:00:00-04:00,1650.199951,1657.000000,1646.800049,1657.000000,238,0,0,2022-10-17 00:00:00-04:00
2022-10-24 00:00:00-04:00,1662.699951,1662.699951,1648.699951,1648.699951,29,0,0,2022-10-24 00:00:00-04:00
2022-10-31 00:00:00-04:00,1641.800049,1641.800049,1633.400024,1635.900024,522,0,0,2022-10-31 00:00:00-04:00